/*
 * Primary
 */
$color-pink: #ad64e6;
$color-blue: #0150c5;
$color-light-blue: #0bc8f4;
$color-purple: #4f32d3;

/*
 * Button's Colors
 */
$button-background-primary: linear-gradient(112deg, $color-purple 0%, $color-pink 100%);
$button-background-primary-active: linear-gradient(112deg, $color-pink 0%, $color-purple 100%);
$button-color-primary: white;

$button-background-secondary: linear-gradient(112deg, $color-blue 0%, $color-light-blue 100%);
$button-background-secondary-active: linear-gradient(112deg, $color-light-blue 0%, $color-blue 100%);
$button-color-secondary: white;

$button-color-anchor: $color-light-blue;
