/*
 * Primary
 */
$color-white: white;
$color-black: #151515;
$color-grey: #242728;
$color-purple: #6457e3;
$color-pink: #ad64e6;
$color-blue: #0271c4;
$color-cian: #0cecf2;

/*
 * Button's Colors
 */
$button-background-primary: linear-gradient(112deg, $color-purple 0%, $color-pink 100%);
$button-background-primary-active: linear-gradient(112deg, $color-pink 0%, $color-purple 100%);
$button-color-primary: $color-white;

$button-background-secondary: transparent;
$button-background-secondary-active: transparent;
$button-border-secondary: $color-white;
$button-color-secondary: $color-white;

$button-color-anchor: $color-white;
$button-color-anchor-special: $color-cian;

/*
 * Input Colors
 */
$input-color-text: $color-white;
$input-color-text-error: $color-pink;
$input-color-caret: $color-white;
$input-color-border: $color-white;
$input-color-border-error: $color-pink;
$input-color-shadow: rgba($color-white, 0.1);