/*
 * DOM
 */
html,
body {
    background-color: $color-black;
    font-size: 14px !important;
}

input {
    font-family: $font-umatch;
}

h1, h2, h3, h4, h5, h6, p, label, a, span {
    font-family: $font-umatch;
    font-weight: 500;
    color: $color-white;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

p, label {
    font-size: 1rem;
}

a {
    font-size: 1rem;
}

span {
    font-size: 1rem;
}
