/*
 * Layouts
 */
#layout-auth {
    @extend %absolute-full;
}

#layout-home {
    @extend %absolute-full;

    & > div:nth-child(1) {
        @extend %absolute-full;
        display: grid;
        grid-template-rows: 1fr auto;

        & > *:nth-child(1) {
            overflow: auto;
            padding: $padding-default-page;
            position: relative;
        }
    }
}

#layout-default {
    @extend %absolute-full;

    & > div:nth-child(1) {
        @extend %absolute-full;
        display: grid;
        grid-template-rows: auto 1fr auto;

        // Content
        & > *:nth-child(2) {
            overflow: hidden;
            padding: $padding-default-page;
            position: relative;

            & > div > div {
                overflow: auto;
            }
        }
    }
}