@import 'base';

%images {
	background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 200px;
}

%fig-light {
    figcaption {
        margin-bottom: .5rem;

        b:after {
            content: "Light";
        }
    }
}

%fig-dark {
    figcaption {
        margin-bottom: .5rem;
        
        b:after {
            content: "Dark";
        }
    }
}

body[data-theme="light"] {
    #chatPage {
        img {
            content: url($base-url + "/assets/images/lm_chat@3x.png");
            @extend %images;
        }

        @extend %fig-light;
    }

    #emailVerificationPage {
        img {
            content: url($base-url + "/assets/images/lm_email_verification@3x.png");
            @extend %images;
        }

        @extend %fig-light;
    }

    #homePage {
        img {
            content: url($base-url + "/assets/images/lm_home@3x.png");
            @extend %images;
        }

        @extend %fig-light;
    }
}

body[data-theme="dark"] {
    #chatPage {
        img {
            content: url($base-url + "/assets/images/dm_chat@3x.png");
            @extend %images;
        }

        @extend %fig-dark;
    }

    #emailVerificationPage {
        img {
            content: url($base-url + "/assets/images/dm_email_verification@3x.png");
            @extend %images;
        }

        @extend %fig-light;
    }

    #homePage {
        img {
            content: url($base-url + "/assets/images/dm_home@3x.png");
            @extend %images;
        }

        @extend %fig-light;
    }
}