@import 'base';

%sidebar-left {
    min-width: 200px / 960px * 100%;
    max-width: 200px / 960px * 100%;
    padding-left: 30px / 960px * 100%;
}

.sub {
    padding-left: 30px / 960px * 100%;   
}

body[data-theme="light"] {
    #sidebar-left {
        @extend %sidebar-left;

        > .nav {
            border-right: 1px solid rgba(0, 0, 0, .1);
        }

        a {
            color: $color-dm-bg-01;
        }
    }
}

body[data-theme="dark"] {
    #sidebar-left {
        @extend %sidebar-left;

        > .nav {
            border-right: 1px solid rgba(255, 255, 255, 1);
        }

        a {
            color: $color-lm-bg-02;
        }
    }
}