@import 'base';
@import 'navbar';
@import 'sidebars';

body, body[data-theme="light"] {
    color: $color-dm-bg-01;
    background: $color-lm-bg-01;
    transition: background 0.2s linear;
}

body[data-theme="dark"] {
    color: $color-lm-bg-02;
    background: $color-dm-bg-01;
    transition: background 0.2s linear;
}

.wrapper {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: stretch;
}