@import 'base';
@import 'navbar';
@import 'sidebars';

%commons {
    transition: background 0.2s linear;
}

body, body[data-theme="light"] {
    color: $color-dm-bg-01;
    background: $color-lm-bg-01;
    @extend %commons;

    hr {
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    a, a:hover {
        color: $color-pink-01;
    }
}

body[data-theme="dark"] {
    color: $color-lm-bg-02;
    background: $color-dm-bg-01;
    @extend %commons;

    hr {
        border-top: 1px solid rgba(255, 255, 255, .3);
    }

    a, a:hover {
        color: $color-cian-01;
    }
}

#content {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 6rem;
    text-align: justify;
}