#page-chat {
    &-mobile {
        @extend %absolute-full;
        display: grid;
        grid-template-rows: auto 1fr;

        .background-chat {
            display: grid;
            grid-template-rows: 1fr auto;
            background: url("./../images/SVG/chat_background.svg") repeat border-box border-box;
            background-size: 200px 200px;

            .chat-content {
                overflow-x: hidden;
                overflow-y: auto;
                position: relative;

                & > div {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 0 5px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: stretch;

                    & > div {
                        max-height: 100%;
                        width: 100%;
                        display: grid;
                        grid-template-rows: auto;
                        grid-auto-rows: auto;
                    }
                }
            }
        }
    }
}
