#page-chat {
    &-mobile {
        @extend %absolute-full;
        display: grid;
        grid-template-rows: auto 1fr;

        .background-chat {
            display: grid;
            grid-template-rows: 1fr auto;
            background: url("./../images/SVG/chat_background.svg") repeat border-box border-box;
            background-size: 200px 200px;

            .chat-content {
                display: flex;
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 0 5px;
                justify-content: flex-end;
            }
        }
    }
}
