#page-email-verification { 
    &-mobile {
        @extend %absolute-full;
        display: grid;
        grid-template-rows: auto auto 1fr;

        // Formulario
        & > div:nth-child(2) {
            @extend %form-container;

            h6 {
                color: $color-white;
                font-weight: 600;
                margin-bottom: 0;
            }

            .email {
                color: $color-pink;
                font-style: italic;
            }
        }
    }
}