#component-profile-image {
    display: flex;
    align-items: center;

    .border {
        border-radius: 50%;
        height: 3.6rem;
        width: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .border-shadow {
        border-radius: 50%;
        height: 3.3rem;
        width: 3.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }

    // Color types
    &.border-cold {
        .border {
            background: linear-gradient(245deg, $color-cian, $color-blue);
        }
    }

    &.border-hot {
        .border {
            background: linear-gradient(245deg, $color-pink, $color-purple);
        }
    }

    &.bkg-black {
        .border-shadow {
            background-color: $color-black;
        }
    }

    &.bkg-grey {
        .border-shadow {
            background-color: $color-grey;
        }
    }
}