/*
 * Globals
 */
@import "global/sizes";
@import "global/fonts";
@import "global/layouts";
@import "global/antd";
@import "global/umatch_ui/index";
@import "global/dom";

/*
 * Components
 */
@import "components/header-title";
@import "components/birthdate-input";
@import "components/gender-input";
@import "components/code-input";
@import "components/footer-navbar";
@import "components/profile-image";
@import "components/user-search-card";

/*
 * Pages
 */
@import "pages/start";
@import "pages/login";
@import "pages/recover-password";
@import "pages/reset-password";
@import "pages/register";
@import "pages/verification";
@import "pages/home";