#component-chat-message-input {
    padding: $padding-default-page;

    .send-icon-wrapper {
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
    }

    textarea {
        align-self: center;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        caret-color: $color-white;
        color: $color-white;
        font-family: $font-umatch;
        font-size: $label-size;
        background-color: rgba($color-white, 0.1);
        resize: none;
        padding: 6px 10px;
        border-radius: 2px;

        &::placeholder {
            font-style: italic;
        }
    }

    .bkg {
        background-color: $color-grey;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
        padding: 10px;
    }
}