/*
 * Inputs
 */
*[u-input] {
    position: relative;
    width: 100%;
    
    & > label {
        @extend %input-label;
    }

    // Other input
    input {
        @extend %input-text;
    }

    // Password input
    .ant-input-password {
        &:hover,
        &:active,
        &:focus {
            border-color: $input-color-border;
            outline: none;
            transition-duration: 0.2s;

            input {
                border-color: $input-color-border !important;
                box-shadow: $input-box-shadow;
                transition-duration: 0.2s;
                border-right-width: $input-border-width !important;
            }
        }
    }

    // Icono interior del input
    svg {
        color: $input-color-text;
    }

    // Control del input para formularios
    .ant-form-item-control {

        // Texto de ayuda
        .ant-form-extra {
            color: rgba($input-color-text, 0.8);
            font-family: $font-umatch;
            font-size: 0.9em;
        }

        // En caso de error (no coincide regla)
        &.has-error{

            input {
                @extend %input-error-status;
            }

            @extend %form-has-error;
        }
    }

    // Caso a-form-item, quita margen
    .ant-row {
        margin-bottom: 0;
    }
}