/*
 * Inputs
 */
*[u-input] {
    position: relative;
    width: 100%;
    font-size: 1rem;
    
    & > label {
        @extend %input-label;
    }

    // Other input
    input {
        @extend %input-text;
    }

    // Password input
    .ant-input-password {
        font-size: 1em;

        &:hover,
        &:active,
        &:focus {
            border-color: $input-color-border;
            outline: none;
            transition-duration: 0.2s;

            input {
                border-color: $input-color-border !important;
                box-shadow: $input-box-shadow;
                transition-duration: 0.2s;
                border-right-width: $input-border-width !important;

                &:hover,
                &:active,
                &:focus {
                    border-right-width: $input-border-width !important;
                }
            }
        }
    }

    // Icono interior del input
    svg {
        color: $input-color-text;
    }

    // Control del input para formularios
    .ant-form-item {
        font-size: 1em;
    }

    @extend %form-item-control;

    // Caso a-form-item, quita margen
    .ant-row {
        margin-bottom: 0;
    }
}