*[u-slider] {
    position: relative;
    width: 100%;

    & > label {
        @extend %input-label;

        &.range {
            position: relative;
            float: right;
        }
    }

    .ant-slider {
        margin: 14px 6px;
    }

    .ant-slider-rail {
        background-color: $color-blue;
        border-radius: 0;
    }

    .ant-slider-track {
        background-color: $color-cian;
    }

    .ant-slider-handle {
        border: none;
    }
}
