*[u-select] {
    position: relative;
    width: 100%;
    font-size: 1rem;

    & > label {
        @extend %input-label;
    }

    .ant-select {
        width: 100%;
        font-size: 1em;

        & > div {
            @extend %input-text;
            position: relative;

            & > div {
                @extend %absolute-full;
                margin: 0;
                display: flex;
                align-items: center;

                // Placeholder
                & > div {
                    padding: 0 25px 0 20px;
                    padding-right: 25px !important;
                    font-weight: 500;
                }
            }
        }

        .ant-select-arrow {
            right: 11px !important;
        }
    }

    // Icono interior del input
    svg {
        color: $input-color-text;
    }

    // Control del input para formularios
    @extend %form-item-control;
}

// Antd override
.ant-select-dropdown {
    background-color: $color-white;
    border-radius: 2px;
    font-size: 1rem;

    .ant-select-dropdown-menu-item {
        font-family: $font-umatch;
        font-size: 1em;
        padding: 1em 0.8em;

        &-active {
            background-color: $color-purple;
            color: $color-white;
            border-radius: 2px;
        }

        &:hover {
            background-color: rgba($color-purple, 0.6);
        }
    }
}