# Continuous Deployment
name: CD

on:
  pull_request:
    types: [ closed ] 
    branches: [ master, develop ]

jobs:
  # Deploy en AWS
  deploy:
    if: github.event.pull_request.merged == true && github.ref == 'master'

    # Instancia de Linux Ubuntu
    runs-on: ubuntu-latest

    # Pasos
    steps:
      # Clonar repositorio
      - uses: actions/checkout@v2
      
      # Deploy
      - name: Deploy to AWS
        env:
          AWS_ACCESS_KEY_DEV: ${{ secrets.AWS_ACCESS_KEY_DEV }}
          AWS_SECRET_KEY_DEV: ${{ secrets.AWS_SECRET_KEY_DEV }}
          AWS_S3_BUCKET_DEV: ${{ secrets.AWS_S3_BUCKET_DEV }}
          AWS_CLOUDFRONT_DEV: ${{ secrets.AWS_CLOUDFRONT_DEV }}
        run: |
          cd frontend
          chmod +x deploy_dev.sh
          ./deploy_dev.sh
