# Continuous Integration
name: CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  # Test unitarios
  test:
    # Instancia de Linux Ubuntu
    runs-on: ubuntu-latest

    # Pasos
    steps:
      # Clonar repositorio
      - uses: actions/checkout@v2

      # Correr los test unitarios
      - name: Run unit test
        run: |
          cd frontend
          npm install
          npm run test
